.card img {
  height: 40vh;
}

input {
  width: 50% !important;
  margin-left: 21%
}

nav .cart-btn {
  position: absolute;
  right: 1rem;
}

@media only screen and (max-width:992px) {
  input {
    width: 100% !important;
    margin: 1rem 0;
  }

  nav .cart-btn {
    position: relative;
    margin: 1rem 0;
    text-align: center;
  }
}